@model Kabylia.Models.Restaurant.RestaurantDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RestaurantDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RestaurantId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RestaurantId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpeningTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpeningTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClosingTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClosingTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Review)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Review)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.RestaurantId  }) |
    @Html.ActionLink("Back to List", "Index")
</p>
