@model IEnumerable<Kabylia.Models.Review.ReviewListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ReviewId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reviews)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RestaurantName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ReviewId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reviews)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RestaurantName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.ReviewId }) |
            @Html.ActionLink("Details", "Details", new { id = item.ReviewId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ReviewId })
        </td>
    </tr>
}

</table>
