@model IEnumerable<Kabylia.Models.Transaction.TransactionListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TransactionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfTransaction)
        </th>
     
      
        <th>
            @Html.DisplayNameFor(model => model.CustomerName)
        </th>
     
        <th>
            @Html.DisplayNameFor(model => model.RestaurantName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfTransaction)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RestaurantName)
        </td>
        <td>
           
            @Html.ActionLink("Details", "Details", new {  id=item.TransactionId  }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.TransactionId  })
        </td>
    </tr>
}

</table>
