@model IEnumerable<Kabylia.Models.Rating.RatingListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RatingId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RestaurantRating)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.DeliveryDriverRating)
        </th>
       
       
        <th>
            @Html.DisplayNameFor(model => model.DeliveryDriverId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RatingId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RestaurantRating)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.DeliveryDriverRating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeliveryDriverName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RestaurantId)
        </td>
       
      
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RatingId }) |
            @Html.ActionLink("Details", "Details", new { id = item.RatingId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.RatingId })
        </td>
    </tr>
}

</table>
