@model Kabylia.Models.DeliveryDriver.DeliveryDriverDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DeliveryDriverDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DriverId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DriverId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Order.Count)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order.Count)
        </dd>

        <hr />
        <h4>Deliveries</h4>
        <hr />
        <dl class="dl-horizontal">
            @foreach (var item in Model.Order)
            {

                <h4 style="color:Red">Customer:</h4>
                <dt>@Html.DisplayNameFor(modelItem => item.CustomerName)</dt>
                <dd>@Html.DisplayFor(modelItem => item.CustomerName)</dd>
                <dt>@Html.DisplayNameFor(modelItem => item.CustomerAddress)</dt>
                <dd>@Html.DisplayFor(modelItem => item.CustomerAddress)</dd>
                <dt>@Html.DisplayNameFor(modelItem => item.CustomerLatitude)</dt>
                <dd>@Html.DisplayFor(modelItem => item.CustomerLatitude)</dd>
                <dt>@Html.DisplayNameFor(modelItem => item.CustomerLongitude)</dt>
                <dd>@Html.DisplayFor(modelItem => item.CustomerLongitude)</dd>
                <br />
                <h4 style="color:Red">Restaurant:</h4>
                <dt>@Html.DisplayNameFor(modelItem => item.RestaurantName)</dt>
                <dd>@Html.DisplayFor(modelItem => item.RestaurantName)</dd>
                <dt>@Html.DisplayNameFor(modelItem => item.RestaurantAddress)</dt>
                <dd>@Html.DisplayFor(modelItem => item.RestaurantAddress)</dd>

                <dt>@Html.DisplayNameFor(modelItem => item.RestaurantLatitude)</dt>
                <dd>@Html.DisplayFor(modelItem => item.RestaurantLatitude)</dd>
                <dt>@Html.DisplayNameFor(modelItem => item.RestaurantLongitude)</dt>
                <dd>@Html.DisplayFor(modelItem => item.RestaurantLongitude)</dd>
                <dd>

                </dd>
                <br />
                <dd>@Html.ActionLink("View Orders", "Details", "Order", new { id = item.OrderId }, null)</dd>
                <br />
            }

        </dl>





    </dl>

</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DriverId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
